# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
out/
.next/
.nuxt/
.svelte-kit/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Logs
logs/
*.log

#context files
*.md

